.main-inventory-table {
  background-color: rgba(253, 253, 253);
  height: auto;
  position: relative;
}

.block-inventory-buttons {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

/* Header for inventory table */

.grid-header-inventory-table {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px;
}

.header-inventory-tabel {
  background-color: rgba(161, 234, 251);
}

.inventory-item-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 1px solid rgb(218, 220, 224);
  outline-offset: -1px;
  max-height: 10px;
  overflow: hidden;
  padding: 10px;
}

.inventory-item-header:nth-child(-n + 2) {
  max-height: 50px;
}

/* Invetory table */

.inventorys {
  height: 485px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(253, 253, 253);
}

.grid-inventory-table {
  display: grid;
  grid-template-columns: 50px 184px;
}

.inventory-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 1px solid rgb(218, 220, 224);
  outline-offset: -1px;
  max-height: 10px;
  overflow: hidden;
  padding: 10px;
}
