.search-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-number {
  width: 120px;
}

.search-name {
  width: 340px;
}

.create-edit-foundation {
  display: flex;
}

.output-buffer {
  width: 100px;
  /* height: 20px; */
}

.create-edit-buttons {
  background-color: red;
}
