.search-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-number {
  width: 120px;
}

.inputFundNumber {
  width: 140px;
  height: 37px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
}

.inputFundName {
  width: 340px;
  height: 37px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
}

.search-name {
  width: 340px;
}

.create-edit-foundation {
  display: flex;
}

.output-buffer {
  width: 100px;
  /* height: 20px; */
}

.create-edit-buttons {
  background-color: red;
}
